services:
  ray-head:
    build:
      context: .
      dockerfile: Dockerfile
    user: root
    ports:
      - "6379:6379"
      - "8265:8265"
      - "10001:10001"
    volumes:
      - /tmp/ray:/tmp/ray
    command: >
      bash -c "ray start --head
      --dashboard-port=8265
      --dashboard-host=0.0.0.0
      --port=6379
      --redis-password=your_password
      --block
      --temp-dir=/tmp/ray"
    environment:
      - RAY_GRAFANA_HOST=http://grafana:3000
      - RAY_GRAFANA_IFRAME_HOST=http://localhost:3009
      - RAY_PROMETHEUS_HOST=http://prometheus:9090
      - RAY_PROMETHEUS_NAME=Prometheus
    shm_size: 2g
    deploy:
      resources:
        limits:
          cpus: '4'
          memory: '8g'
    networks:
      - easydatapipeline_default

  ray-worker:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - ray-head
    command: bash -c "ray start --address=ray-head:6379 --redis-password=your_password --num-cpus="10" --block"
    shm_size: 2g
    deploy:
      mode: replicated
      replicas: 1
      resources:
        limits:
          cpus: '10'
          memory: '12g'
    networks:
      - easydatapipeline_default

networks:
  easydatapipeline_default:
    external: true
